
body {
	background-color: #FFF455;
}

.joke {
	width: auto;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #4535C1;
}

h1 {
    font-size: 64px;
	text-align: center;
	color: #102C57;
}

p{
    font-size: 30px;
    padding: 5px;
}
